.statusBar {
  height: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}
.icons {
  font-size: 16px;
  display: inline-block;
  display: flex;
  align-items: center;
}
.closeIcon {
  color: rgb(187, 80, 80);
}
.time {
  cursor: pointer;
  display: inline-block;
}
.time:hover {
  text-shadow: 0 0 1px #000;
}
